@using KdyWeb.BaseInterface.KdyOptions
@using KdyWeb.BaseInterface.Service
@using KdyWeb.IService.CrossRequest
@using KdyWeb.Utility
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@section Styles
{
<link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/1.9.9/skins/default/index.css" />
<script type="text/javascript" src="//g.alicdn.com/de/prismplayer/1.9.9/prism.js"></script>
<script type="text/javascript" src="//cdn.staticfile.org/spark-md5/3.0.0/spark-md5.min.js"></script>
<environment exclude="Development">
    <script src="/js/parse.js"></script>
</environment>
}
@*@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf*@
@inject IConfiguration Configuration
@inject ICrossRequestService CrossRequestService
@inject ILoginUserInfo LoginUserInfo;
@inject IOptions<KdySelfHostOption> Options;
@functions {
    //public string GetAntiXsrfRequestToken()
    //{
    //    return Xsrf.GetAndStoreTokens(Context).RequestToken;
    //}

    public string GetDefaultImg()
    {
        return Options.Value.ImgHost + "/kdyImg/path/1168149110100987904";
        // return Configuration.GetValue<string>(KdyWebServiceConst.ImgHostKey) + "";
    }

    public async Task<string> GetToken()
    {
        if (LoginUserInfo.IsLogin)
        {
            return LoginUserInfo.LoginToken;
        }

        var token = await CrossRequestService.GetCrossTokenAsync();
        return $"{token.TokenType} {token.AccessToken}";
    }
}
@*<input type="hidden" id="vToken" name="vToken" value="@GetAntiXsrfRequestToken()">*@
<div id="div_potplayer" style="display: none">
</div>
<div id="play-content" style="background: #000">
    <div style="text-align: center">
        <img src="@GetDefaultImg()" style="width: 300px; height: 250px;" />
    </div>
</div>

@section Scripts
{
<link href="/lib/abphtml5/ABPlayer.min.css" rel="stylesheet" />
<script src="/lib/abphtml5/biliplus_shield.min.js"></script>
<script src="/lib/abphtml5/CommentCoreLibrary.min.js"></script>
<script src="/lib/abphtml5/ABPlayerExt.js"></script>
<script src="/lib/abphtml5/ABPlayer.min.js?v=1.2"></script>
<script src="/lib/abphtml5/ABPlayer_strings.zh.js?v=1.1"></script>
<script src="//cdn.staticfile.org/hls.js/1.2.4/hls.min.js"></script>

<script type="text/javascript">
    var epId = '@ViewBag.EpId',
        reqToken = '@await GetToken()';
</script>
<environment include="Development">
    <script src="/js/videoPlay/index.js?v=2020"></script>
</environment>
<environment exclude="Development">
    <script src="/js/videoPlay/index.min.js" asp-append-version="true"></script>
</environment>

<style type="text/css">
    #play-content {
        height: 100% !important;
    }
    #div_potplayer {
        position: fixed;
        z-index: 99;
        top: 7%;
        right: 1%;
    }
    #div_potplayer a {
        display: inline-block;
        width: 130px;
        height: 30px;
        background-color: #1E9FFF;
        margin-bottom: 4px;
        cursor: pointer;
        outline: none;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        line-height: 30px;
        text-align: center;
        border-radius: 15px;
    }
</style>
}