<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewData["Title"]  播放器专用</title>
    <link href="/css/base.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()

    <script type="text/javascript" src="//cdn.staticfile.org/jquery/3.3.0/jquery.min.js"></script>
    <script src="/js/kdy-common.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
