<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish />
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<ProjectGuid>0f5764e6-d08f-4d74-b741-d40dc9dc0eb0</ProjectGuid>
		<SelfContained>false</SelfContained>
		<MSDeployServiceURL>https://tyweb.hcc11.com:16789</MSDeployServiceURL>
		<DeployIisAppPath>new.parse-self-api</DeployIisAppPath>
		<RemoteSitePhysicalPath />
		<SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
		<EnableMSDeployBackup>true</EnableMSDeployBackup>
		<EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
		<UserName>deploy-user</UserName>
		<_TargetId>IISWebDeploy</_TargetId>
		<!-- 忽略ssl证书 -->
		<AllowUntrustedCertificate>True</AllowUntrustedCertificate>
	</PropertyGroup>
</Project>